.myrequest-wrapper {
  height: 100vh;
  padding: 0;
}

.myrequest {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  position: relative;
  background-color: $main;
  border-radius: 60px;
  margin: 10px;
  box-shadow: 2px, 2px, 2px, lightgrey;
  color: black;
}

.myrequest-show {
  padding-left: 5px;
  font-size: 13px;
  color: black;
  // background-color: $third;
}

.myrequest-body {
  flex-grow: 1;
  font-size: 13px;
  padding-left: 10px;
}


.myrequest-body {
  padding-left: 20px;
}

.myrequest-body strong{
  color: black;
}

.myrequest-body p {
  margin: 6px 0;
}

.myrequest-body h5 {
  color: black;
}

.myrequest-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background-color: #0004B0;
  opacity: 0;
  border-radius: 60px;
}

.myrequest-link:hover {
  opacity: 0.1;
}

.myrequest-map {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
}
