

.flex-grow{
  flex: 1;
}

.myrequest-container{
  width: 100%;
  background-color: $third_light;
  ;
  display: grid;
  grid-gap: 1rem;
  padding: 8px;

  .journey-info{
    color: white;
    width: calc(100% - 32px);
    margin: 0 auto;
    border-bottom: 5px solid $main;
    margin-top: 24px;

    .myrequest-datetime{
      display: flex;
      justify-content: space-between;
      flex: 1;
      align-items: flex-start;
    }

    .trip-info{
      display: flex;
      justify-content: space-between;
      flex: 1;
      align-items: center;
      height: 40px;
      margin-bottom: 8px;
    }
    .trip-align-top{
      align-self: flex-start;
      flex: 1 0 80%;
    };
    .badge-offers {
      background-color: $main;
      margin-bottom: -8px;
      color: rgba(50, 50, 50, 0.8);
      padding: 2px 8px;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: -0.25px;
      align-self: flex-end;
    };
    .avatar{
      width: 64px;
    }

    h3{
    font-size: 26px;
    margin-top: 16px;
    margin-bottom: 8px;
    font-weight: 400;
    padding-bottom: 2px;
    }
    h2{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 4px;
    }
    p{
      font-size: 17px;
      color: rgba(255, 255, 255, 0.8);
      font-weight: 300;
      margin: 0;
    }
  }


  .offer-card{
    background-color: $dark-blue-light;
    border-radius: 40px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.07), 2px 2px 0 0 rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5px;

    .highlight {
      color: $dark_blue;
      font-weight: bold;
    }
    p {

      font-size: 13px;
      margin: 0;

    }

    h5 {
      margin-bottom: 5px;
    }

    .card-header {
      padding: 8px;
      p {
        font-size: 17px;

      }
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
    .more-infos {


      h5 {
        margin-bottom: 0;
      }
      p{
        font-size: 16px;
        margin: 0;
      }
    }
    .user-group{
      display: flex;
      flex-grow: 1;
      padding-right: 10px;
      align-items: center;

      p{
        margin-bottom: 2px;
      }

      .avatar{
        border-radius: 50%;
        background-color: white;
        width: 64px;
        height: 64px;
        text-align: left;
      }

      .ride-info{
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        margin-left: 16px;
        p{
          font-size: 22px;
          color: white;
          font-weight: 400;
        }
        .ride-info-icons{
          flex-grow: 1;
          p{
            font-size: 16px;
            margin-bottom: 2px;
            font-weight: 400;
            color: rgba(255,255,255,0.9);
          }
        }
      }
      .music-style {
        font-size: 28px;
        span {
          font-size: 12px;
        }
        .bagde{
          background-color: $dark-blue-light;
          font-weight: 400;
        }
      }

    }

    .status-group{
      flex-grow: auto;
      display: flex;
      justify-content: space-around;
      .icon{
        background-color: #f6f6f6;
        border-radius: 50px;
        border: 1px solid #e0e0e0;
        text-align: center;
        line-height: 60px;
        height: 64px;
        width: 64px;
      }
      .fa-times {
        color: $red;
      }

      .fa-check {
        color: $third_light;
      }
    }



    .more-infos{
      text-align: left;
    margin: 0px 0px 8px 0px;
    border-radius: 0px 0px 40px 40px;
      background-color: $dark-blue-light;
      p{
        font-size: 13px;
        color: white;
        font-weight: 400;
        margin-top: 8px;
        span{
          color: white;
          font-weight: 500;
        }
      }
      span.badge.badge-primary.badge-pill{
        background-color: #fdce00;
        color: #333333;
      }
      h5{
        color: white;
      }


    }
  }

  .highlight-container{
    display: flex;
    margin-top: 0px;

    margin-bottom: 11px;

    .highlight {
      color: #072C4A;
      font-weight: bold;
      background: white;
      padding: 4px 16px;
      border-radius: 4px;

    };

    .study{
      flex: 1;
      font-size: 22px;
      display:flex;
      align-items: flex-start;
      flex-direction: column;

    }
    .semester{
      display: flex;
      flex: 0 1 20%;
      margin-left: 8px;
      justify-content: center;
      align-items: center;
      flex-direction: column;

    }
    .study-small {
      font-size: 8px;
      color: gray;
    };
    .semester-small{
      font-size: 8px;
      color: gray;
    }

  };

  .description-container{
    overflow: auto;
    max-height: 80px;
  };


  .ride-symbols {
    height: 14px;
    width: 14px;
  };

  .info-container-pills{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  };

  .badge {
    padding: 4px 12px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.25px;
    margin-bottom: 4px;
  };



  .info-pill {
    display: flex;
    flex-wrap: wrap;
    color: $dark-blue-light !important;
    span {
      margin-right: 4px;
    }

    .badge-music {
      background-color: $third;
    }

    .badge-hobby {
      background-color: $third_light !important;
    }
    .badge-hobby-driver {
      background-color: $main !important;
      color: rgba(0,0,0,0.45);
    }
    i {
      margin-right: 8px;
      color: #072C4A;
    }
  }

  .card-details {
    padding: 10px;
  }
}

