.myrequest-container{
  background-color: $secondary;
  display: grid;
  grid-template-column: 1;
  grid-gap: 1rem;
  padding: 5px;

  .drivers-dash{
    margin-top: 5px;
    padding: 2px;
    background-color: $main;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.07), 2px 2px 0 0 rgba(0, 0, 0, 0.03);


    p{
      font-size: 13px;
    }
  }

  .offer-card{
    padding: 5px;
    background-color: #fbfbfb;
    border-radius: 40px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.07), 2px 2px 0 0 rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    .card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;



    }
    .user-group{
      display: flex;
      width: 60vw;
      padding-right: 10px;
      align-items: center;

      p{
        margin-bottom: 2px;
      }

      .avatar{
        border-radius: 50%;
        background-color: white;
        width: 70px;
        height: 70px;
        text-align: left;
        margin-right: 10px;
      }

      .ride-info{
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        .ride-info-icons{
          p{
            font-size: 12px;
            font-weight:bold;
            margin-bottom: 2px;

          }
        }
      }

    }

    .status-group{
      flex-grow: 1;
      display: flex;
      justify-content: space-around;
      .icon{
        background-color: #f6f6f6;
        border-radius: 50px;
        border: 1px solid #e0e0e0;
        text-align: center;
        line-height: 60px;
        height: 60px;
        width: 60px;
      }
    }
  }
  .card-details {
    padding: 10px;
  }
}

