<div class="myrequest-wrapper">
  <div
  id="mapshowmyrequest"
  style="width: 100%; height: 70vh;"
  data-marker_from_self="<%= @marker_from_passenger.to_json %>"
  data-counterparts="<%= @drivers.to_json %>"
  data-marker_to="<%= @marker_to.to_json %>"
  data-map_as="passenger"

  ></div>
<div class="container">
  <h3>Available drivers</h3>
  <div id="insert-drivers">

  </div>
</div>
</div>
