<div class="myrequest-wrapper">
<div class="container">
  <div class="row">
    <div class="row">
      <div id="map" style="width: 100%; height: 100vh;" data-markers_from="<%= @markers_from.to_json %>" data-markers_to="<%= @markers_to.to_json %>">
       </div>
    </div>
  </div>
</div>
</div>
