$bottom_gap:24px;

.map-dummy{
  background-color: blue;
  width:100vw;
  height: 100vh;
  position:fixed;
  z-index: -1;
}

.index-buttons{
  justify-self: center;

border-radius: 50px;
    border: 1px solid lightgrey;
    padding: 15px;
    text-align: center;
    background-color: #FDCD00;
    width: 80vw;
    color: black;
    font-weight: bold;
    font-size: 15px;

}


.form-opener{
    display: flex;
  align-items: center;
  flex-direction: column;
  position:fixed;
  width:100vw;
  bottom: $bottom_gap;
  p{
  margin-bottom: 4px;
  }

  }


.new-ride-form{
  transition:all 0.5s ease;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color:$secondary;
  padding-bottom: 20px;
  padding-top: 40px;
  padding-right: 15px;
  padding-left: 15px;
  opacity: 0.8;

}

.new-ride-form:focus-within {
  opacity: 1.0;
  }


.new-request-form{
  transition:all 0.5s ease;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color:$secondary;
  padding-bottom: 20px;
  padding-top: 40px;
  padding-right: 15px;
  padding-left: 15px;
  opacity: 0.8;
}

.new-request-form:focus-within {
  opacity: 1.0;
  }

.close-button{
  position:absolute;
  top:5px;
  right:5px;
}

.form-ride{
      display:flex;
  flex-direction: column;
  align-items: center;
}
form{

  .flex-group{
    display:flex;

    align-items:center;
    width:100%;

    i{
      padding: 0px 10px 0px 0px;
      text-align:center;
      width: 30px;
    }

  }
}

.to-from-radio{
  width: 100%;
  padding-left:30px;
  display: flex;


  .to-button, .from-button{
      flex: 0 0 50%;

    label{
      width:100%;
    }
  }

  input[type="radio"]:checked+label{
    background-color: $main;
  }
}

.uni-name{
  font-weight: bold;
  background-color:white;
  border:1px solid lightgrey;
  height: 39px;
}
