$bottom_gap:24px;
#pingo-loading{
  -webkit-animation-iteration-count: infinite;
  background-color: $main;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  }
.map-dummy{
  background-color: $third;
  width:100vw;
  height: 100vh;
  position:fixed;
  z-index: -1;
}

.index-buttons{
  justify-self: center;
  border-radius: 50px;
  padding: 15px;
  text-align: center;
  background-color: #FDCD00;
  width: 100%;
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.form-group {
  position: relative;
  i {
    position: absolute;
    left: 15px;
    color: black;
  }

}

.uni-select{
    width:100%;
    i {
    top: 10px;
   }
  }

.form-opener{
  display: flex;
  align-items: center;
  flex-direction: column;
  position:fixed;
  width:100%;
  bottom: $bottom_gap;
  p{
  margin-bottom: 4px;
  }

  }

.form-input {
  border-radius: 50px;
}

.new-ride-form{
  transition:all 0.5s ease;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: $third_light;
  padding-bottom: 20px;
  padding-top: 40px;
  padding-right: 15px;
  padding-left: 15px;

}

.new-ride-form:focus-within {
  opacity: 1.0;
  }


.new-request-form{
  transition:all 0.5s ease;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: $third_light;
  padding-bottom: 20px;
  padding-top: 40px;
  padding-right: 15px;
  padding-left: 15px;
}

.new-request-form:focus-within {
  opacity: 1.0;
  }

.close-button{
  position:absolute;
  top:5px;
  right:15px;
  color: $dark_blue;
}

.form-ride{
      display:flex;
  flex-direction: column;
  align-items: center;
}
form{

  .flex-group{
    display:flex;

    align-items:center;
    width:100%;

    i{
      padding: 0px 10px 0px 0px;
      text-align:center;
      width: 30px;
    }
    input, select{
    padding-left: 50px;
    }

  }
}

.to-from-radio{
  width: 100%;
  display: flex;

  .to-button, .from-button{
    flex: 0 0 50%;
    margin-bottom: 15px;
    .btn-standard{
      min-height: 48px;
      padding: 8px;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 32px;
    }
    label{
      background-color: white;
      color: black;
      width: 100%;
      i{
        margin-left: 8px;
      }
    }
  }
  .to-button{
    padding-right: 5px;
  }
  .from-button{
    padding-left: 5px;
  }

  input[type="radio"]:checked+label{
    color: white;
    background-color: rgba(15, 88, 148, 0.85);
    border: none;
  }
}

.uni-name{
  text-align:center;
  width: 100%;
  font-weight: bold;
  background-color:white;
  border:1px solid lightgrey;
  height: 39px;
}

.uni-select{
  input, select{
    padding-left: 50px;
  }
}
