.wrapper-suggestions{
  width: 100vw;

  form{
    label{
      width: 100%;
      height: calc( (100vh - 64px ) / 8 );
      margin:0;
    }
  }

  .suggestions-avatar{
    width: 70px;
    background-color:white;
    border: 1px solid lightgrey;
    box-shadow: 2px 2px 2px lightgrey;
  }

  .suggestion-field{
    height:100%;
    display: flex;
    justify-content:space-between;
    align-items:center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    background-color: white;
    box-shadow: 2px 2px 2px lightgrey;
    padding-right:24px;

    p{
      margin:0px;
    }

    h3{
      margin:0px;
    }


    .suggestion-info{
      width:100%;
      display: flex;
      justify-content:center;
      align-items:center;
    }
  }


  input[type=checkbox]{
    display: none;
  }

  input[type=checkbox]:checked + label > .suggestion-field{
    background-color: #00FF00;
  }
}




