// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$main: #FDCD00;
$secondary: #FEE680;
$third: rgba(20,120,202, 1);
$third_light: rgba(20,120,202, 0.8);
$dark_blue: #072C4A;
