// Specific CSS for your home-page
.logo-home {
  margin-top: 50px;
}

.home-wrapper {
  padding: 5px;
  background-color: $main;
  height: 100vh;

  h3 {
    margin-top: -5px
  }

  h2 {
    margin-top: -5px
  }


}

.home-card-wrapper {
  display: flex;
  flex-direction: column

}
