<div>
  <h1>Find a ride!</h1>
  <div>
    <%= simple_form_for @request do |f| %>
      <%= f.input :start_time, as: :datetime %>
      <%= f.input :stop_time, as: :datetime %>

      <%= f.button :submit, "create a ride request!" %>
    <% end %>
  </div>
</div>
