<div class="text-center">
  <h1>Go2Uni</h1>
  <h2>Meet new friends on your way to university</h2>

  <div>
    <div class="btn btn-danger">
      <%= link_to "Share my ride", requests_path %>
    </div>
    <div class="btn btn-danger">
      <%= link_to "Take me to Uni", rides_path %>
    </div>
  </div>
</div>
