<div class="text-center">
  <h1>Pingo!</h1>
  <%= image_tag("logo", size:"50x50") %>
  <h2>Share the ride</h2>
  <h3>Make some friends</h3>

  <div>
      <%= link_to "Share my ride", requests_path, class: "btn btn-danger" %>
      <%= link_to "Take me to Uni", rides_path, class: "btn btn-danger" %>
  </div>
</div>
