<div class="text-center">
  <h1>Pingo!</h1>
  <h2>Pingo!</h2>
  <h3>Pingo!</h3>
  <p>Meet new friends on your way to university</p>

  <div>
      <%= link_to "Share my ride", requests_path, class: "btn btn-danger" %>
      <%= link_to "Take me to Uni", rides_path, class: "btn btn-danger" %>
  </div>
</div>
