.navbar-opener{
  position:fixed;
  top:10px;
  right:10px;
  width:32px;
  height:32px;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: rgba(255,255,255,0.8);
  z-index:3;
}

.navbar-closer{
  width:25px;
  height:25px;
  padding: 0
}

.navbar-dropdown-icon {
  width:25px;
  height:25px;
  padding: 0;
}

/* Main navbar */
.navbar-wagon {
  z-index:3;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top:0;
  left:0;
  right:0;

}


.navbar-wagon-brand{
  left: calc( 50vw - 25px ) ;
  position: absolute;
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0;
}

/* Navbar link */
.navbar-wagon-link {
    // padding-left:
    color: #616668;
    font-size: 18px;
  }

.navbar-wagon-text{
  margin-right: 36px;
}

.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: 400;
  color: #616668 !important;
  font-size: 18px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
