// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";
@import "rides/index";
@import "requests/index";
@import "myrequests/index";
@import "components/ui";
@import "rides/show";
@import "suggestions/index";



//application wide
h1 {
  font-size: 40px;
  font-weight: 500
}

h2 {
  font-size: 32px;
  font-weight: 400
}

h3{
  font-size: 24px;
  font-weight: 300
}

p{
  font-size: 20px;
  font-weight: 200;
}


