<h1>Suggestions#index</h1>
<p>Find me in app/views/suggestions/index.html.erb</p>


# DISTANCE STILL TO BE COMPUTED


<div class="container">
  <div class="row">

    <% @suggestions.each do |request| %>
      <div class="suggestion-field">
        <%= cl_image_tag(request.user.photo, class: "avatar") %>
      </div>
    <% end %>

  </div>
</div>


<!-- <div class="col-xs-6">

      <ul class="list-group">

        <li class="list-group-item active">Request id:  request.id</li>

        <li class="list-group-item">  link_to , ride_offers_path(request_id request.id )
     -->
