<div class="text-center">
  <h1>All those People are willing to take you</h1>
  <div class="map">
    <p>Here comes a map</p>
  </div>
  <div>
    <ul><% @rides.each do |ride| %>
      <li><%= ride.user.email %></li>
      <li><%= ride.user.age %></li>
      <li><%= cl_image_tag ride.user.photo %></li>
      <% end %>
    </ul>
  </div>
</div>
